.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:700px ;
    font-family: montserrat;
    background:#E27866 ;
    gap: 30px;

    h1{
        color: white;
        font-size: 2.5em;
        margin-top: 10px;
    }
    p{
        color: white;
        font-family: montserrat;
        margin-top: 20px;
    }

    .form{
        background: white;
        
        display: flex;
        flex-direction: column;
        
        align-items: center;
        // justify-content: center;
       
        gap: 20px;
        width: 450px;
        height: 380px;
        border-radius: 5px;
        position: relative;
        padding: 20px;

}
input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    padding: 10px;
    
    width: 350px;
    margin-bottom: 10px;
    font-family: montserrat;
    
  }
  input[type="radio"] {
    
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid green;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    
    
  }
  input[type="radio"]:checked + label{
    font-weight: bold;
  }
  input[type="radio"]::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0.2px;
    right: 0;
    left: 0.2px;
    margin: auto;
    bottom: 0;
    background: green;
    border-radius: 20px;
    transform: scale(0);
    transition: 0.3s;
    
  }
  input[type="radio"]:checked::before{
    transform: scale(1);
  }
  input[type="submit"]{
   position: absolute;
   top: 300px;
   right: 150px;
   width: 40%;
   height: 50px;
   color: white;
   border-radius: 8px;
   background: #41D395;
   font-size: 1.2em;
   cursor: pointer;
   
  }

  }