nav{
    position: fixed;
    padding: 10px;
    top: 0;
    width: 100%;
    height: auto;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    z-index: 999;
  
  .picture{
    margin-left: 147px;
    height: 52px;
  }
  .sites{
    display: flex;
    gap: 60px;
    height: 35px;
    align-items: center;
    margin-right: 147px;
    position: relative;
  }
  
    .link {
      color: white;
      text-decoration: none;
      position: relative;
  }
  .link:hover{
    border-bottom: 3px solid #E27866;
  
    
  }
  #burger {
    cursor: pointer;
    display: none;
    transition: 0.3s
  }
  .rotate {
    transform: rotate(-90deg);
  }
  .link.block{
    display: block;
  }

  }
  
  @media (max-width: 830px){
  nav{
    height: auto;
    flex-direction: column;
    min-height: 50px;
    margin: auto;
  
    .sites{
      flex-direction: column;
      height: auto;
      min-height: 50px;
      gap: 0;
      margin: auto;
    }
    .picture{
      margin: auto;
    }
  
  
    #burger {
        display: block;
        position: absolute;
        top: 14px;
        right: 0px;
        left: 100px;
        font-size: 1.2em;
        color: white;
    }
    .link{
        display: none;
    }
  }
  }