.pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 900px;
    background: #6696E2;

.heading{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    font-size: 1.0em;
    margin-bottom: 100px;
   
}
.option{
    font-size: 2.5em;
    margin-bottom: 30px;
}
.divider_1{
    margin-bottom: 30px;
}

.list{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    // flex-wrap: wrap;
    
    
}
.Basic{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: black;
    height: 500px;
    width: 400px;
    margin: auto;
    
    
    border-radius: 8px;
    margin-bottom: 10px;
}
h3{
    margin-top: 10px;
    color: white;
    margin-bottom: 20px;
}
span{
    font-size: 30px;
    color: white;
}
.price{
    font-size: 5em;
    color: white;
    margin-bottom: 40px;
}
p{
    color: white;
    margin-bottom: 20px;
    
}
.divider{
    width: 100%;
    height: 8px;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: gray;
    list-style: none;
    gap: 20px;
    background: white;
    width: 400px;
    height: 262px;
    border-radius: 0 0 8px 8px;
}
.Basic_2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: black;
    height: 532px;
    width: 400px;
    margin: auto;   
    
    border-radius: 8px;
    margin-bottom: 10px;

}
.most{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    height: 40px;
    width: 400px;
    background: #41D395;

}
.ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: gray;
    list-style: none;
    gap: 20px;
    background: white;
    width: 400px;
    height: 262px;
    border-radius: 0 0 8px 8px;
}

}
@media (max-width: 1000px){
    .pricing{
        height: 2000px;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
    }
}