.swipper{
    background: white;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .all{
       
        display: flex;
        flex-direction: row;
        
        align-items: flex-end;
       gap: 80px;
    }
    .chat{
        display: flex;
        flex-direction: column;
        
    }
    .heading{
        margin-bottom: 30px;
        font-size: 2.5em;
    }
    .divider{
        height: 10px;
        width: 100px;
    }
    .paragraph{
        color: white;
        background: #6696E2;
        width: 280px;
        padding: 20px;
        border-radius: 8px;
        margin-top: 10px;
        position: relative;
    }
        .paragraph::before{
            content: "";
            position: absolute;
          width: 0;
          height: 10px;
           top: 0;
           left: 0;
           right: 70%;
           bottom:-126%;
            margin: auto;
            border: 20px solid transparent;
            border-top-color: #6696E2 ;
        }
        .man{
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            gap: 20PX;
        }
    
    
    .swiper {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        height: 400px;
        margin-top: 30px;
       
        
      }
      .swiper-slide{
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        position: relative;
        
      }
      .swiper-pagination-bullet{
        
     
        width: 10px;
        height: 10px;
        transition: 0.3s;
        
      }
      .swiper-pagination-bullet{
        background: #E27866;
      }
      .swiper-button-prev,
      .swiper-button-next {
          display: none;
      }
      }
    
      @media (min-width:1000px){
        .swiper{
            width: 1100px;
        }
        
      }